*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:tahoma,sans-serif;
}

body{
    direction:rtl;
    background:#edf3fb;
    color:#1b1b1b;
}

.container{
    max-width:520px;
    margin:auto;
    padding:18px;
}

#loginPage,
#scanPage{
    background:#fff;
    border-radius:20px;
    padding:20px;
    margin-top:8px;
    box-shadow:0 12px 30px rgba(0,0,0,.08);
}

h1{
    text-align:center;
    font-size:54px;
    line-height:1.15;
    color:#14214d;
    margin-bottom:30px;
}

input,
select{
    width:100%;
    height:56px;
    border:2px solid #e4e4e4;
    border-radius:16px;
    padding:0 15px;
    font-size:18px;
    margin-bottom:14px;
    background:#fff;
}

input:focus,
select:focus{
    outline:none;
    border-color:#2d7be8;
}

#startBtn{
    width:100%;
    height:64px;
    border:none;
    border-radius:18px;
    background:#2d7be8;
    color:#fff;
    font-size:26px;
    font-weight:bold;
    cursor:pointer;
    margin-top:10px;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:tahoma,sans-serif;
}

body{
    direction:rtl;
    background:#edf3fb;
    color:#1b1b1b;
}

.container{
    max-width:520px;
    margin:auto;
    padding:18px;
}

#loginPage,
#scanPage{
    background:#fff;
    border-radius:30px;
    padding:22px;
    margin-top:2px;
    box-shadow:0 12px 30px rgba(0,0,0,.08);
}

h1{
    text-align:center;
    font-size:40px;
    line-height:1.15;
    color:#14214d;
    margin-bottom:30px;
}

input,
select{
    width:100%;
    height:56px;
    border:2px solid #e4e4e4;
    border-radius:16px;
    padding:0 15px;
    font-size:18px;
    margin-bottom:14px;
    background:#fff;
}

input:focus,
select:focus{
    outline:none;
    border-color:#2d7be8;
}

#startBtn{
    width:100%;
    height:64px;
    border:none;
    border-radius:18px;
    background:#2d7be8;
    color:#fff;
    font-size:26px;
    font-weight:bold;
    cursor:pointer;
    margin-top:10px;
}
/* ---------- آخرین ثبت ---------- */

.lastQty{
    background:#ecfdf3;
    border:2px solid #b7e4c7;
    border-radius:22px;
    padding:6px;
    text-align:center;
    margin:5px 0;
}

#lastQty{
    font-size:16px;
    font-weight:bold;
    color:#16a34a;
    margin-bottom:3px;
}

#lastBarcode{
    font-size:18px;
    color:#555;
}


/* ---------- بارکد ---------- */

#barcode{
    width:100%;
    height:72px;
    margin:5px 0;
    border:2px solid #d9d9d9;
    border-radius:18px;
    background:#fff;
    text-align:center;
    font-size:40px;
    font-weight:bold;
    letter-spacing:2px;
}

#barcode:focus{
    outline:none;
    border-color:#1976d2;
    box-shadow:0 0 0 4px rgba(25,118,210,.15);
}

/* ---------- کیپد ---------- */

#keypad{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:7px;
    margin-top:2px;
}

#keypad button{
    height:72px;
    border:none;
    border-radius:18px;
    background:#ffffff;
    box-shadow:0 5px 15px rgba(0,0,0,.08);
    font-size:32px;
    font-weight:bold;
    color:#222;
    cursor:pointer;
    transition:.15s;
}

#keypad button:hover{
    transform:translateY(-2px);
}

#keypad button:active{
    transform:scale(.96);
}

.num{
    background:#fff !important;
}

#clear{
    background:#ffae00 !important;
    color:#fff !important;
    font-size:22px;
}

#back{
    background:#f44336 !important;
    color:#fff !important;
    font-size:26px;
}
/* ---------- دکمه ها ---------- */

.buttons{
    display:grid;
    grid-template-columns:1fr;
    gap:40px;
    margin-top:22px;
}

#saveBtn{
    width:100%;
    height:68px;
    border:none;
    border-radius:18px;
    background:linear-gradient(135deg,#1976d2,#42a5f5);
    color:#fff;
    font-size:24px;
    font-weight:bold;
    cursor:pointer;
    box-shadow:0 8px 20px rgba(25,118,210,.25);
    transition:.2s;
}

#saveBtn:hover{
    transform:translateY(-2px);
}

#saveBtn:active{
    transform:scale(.98);
}

#finishBtn{
    width:100%;
    height:64px;
    border:none;
    border-radius:18px;
    background:linear-gradient(135deg,#d32f2f,#ef5350);
    color:#fff;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    box-shadow:0 8px 20px rgba(211,47,47,.25);
    transition:.2s;
}

#finishBtn:hover{
    transform:translateY(-2px);
}

#finishBtn:active{
    transform:scale(.98);
}

/* ---------- ریسپانسیو ---------- */

@media (max-width:600px){

    .container{
        padding:12px;
    }

    h1{
        font-size:32px;
    }

    .topBar{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
    margin-bottom:20px;
}

.infoCard{
    background:#fff;
    border-radius:20px;
    padding:18px;
    text-align:center;
    border:1px solid #e6edf7;
    box-shadow:0 8px 20px rgba(0,0,0,.06);
}

.title{
    color:#6b7280;
    font-size:15px;
    margin-bottom:10px;
    font-weight:600;
}

.value{
    font-size:24px;
    font-weight:700;
    color:#1f2937;
}

.countValue{
    font-size:42px;
    font-weight:700;
    color:#1976d2;
}

    .qtyRow{
        grid-template-columns:55px 1fr 55px;
        gap:12px;
    }

    .qtyRow button{
        width:55px;
        height:55px;
        font-size:30px;
        border-radius:16px;
    }

    #qty{
        height:55px;
        font-size:34px;
    }

    #barcode{
        height:64px;
        font-size:24px;
    }

    #keypad{
        gap:10px;
    }

    #keypad button{
        height:64px;
        font-size:28px;
        border-radius:16px;
    }

    #saveBtn{
        height:64px;
        font-size:22px;
    }

    #finishBtn{
        height:60px;
        font-size:20px;
    }

}
.qtyRow{
    display:flex !important;
    align-items:center !important;
    gap:15px !important;
}

#minus,
#plus{
    width:55px !important;
    height:55px !important;
    background:#1976d2 !important;
    color:white !important;
    border:none !important;
    border-radius:18px !important;
    font-size:36px !important;
}


#qty{
    margin: auto;
    flex:1 !important;
    height:50px !important;
    text-align:center !important;
    font-size:38px !important;
}
.topBar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#fff;
    border-radius:18px;
    padding:5px 50px;
    margin-bottom:5px;
    box-shadow:0 6px 18px rgba(0,0,0,.08);
    flex-direction: row;
    
}
.infoItem{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.infoLabel{
    font-size:14px;
    color:#6b7280;
}
.infoCard{
    flex:1 !important;
    background:#007bff !important;
    color:#fafafa !important;
    border-radius:20px !important;
    padding:15px !important;
    text-align:center !important;
}
.infoValue{
    font-size:24px;
    font-weight:700;
    color:#111827;
}
.title{
    color:#000000 !important;
}

.value,
.countValue{
    color:#1976d2;
}
.syncStatus{
  margin:3px 0 3px;
  padding:4px;
  border-radius:15px;
  background:#eef5ff;
  text-align:center;
  font-weight:bold;
  color:#1565c0;
}
.creator{
    margin-top:10px;
    text-align:center;
    color:#777;
    font-size:14px;
    
}